@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.appContainer {
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-between;
    grid-template-areas:
        "userinfo"
        "chart"
        "lists";
    @media (min-width: 992px) {
        column-gap: 1.75rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content 1fr;
        grid-template-areas:
            "userinfo lists lists"
            "chart lists lists";
    }
}

.userInfo {
    grid-area: userinfo;
    min-height: 7vh;
}

.chart {
    grid-area: chart;
    height: 25vh;
    @media (min-width: 992px) {
        height: 60vh;
    }
}

.lists {
    grid-area: lists;
    height: 55vh;
    @media (min-width: 992px) {
        height: calc(100vh - 32px);
        justify-self: flex-end;
    }
}

.month {
    writing-mode: vertical-lr;
}

::-webkit-scrollbar {
    display: none;
}
