@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.appContainer {
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-between;
    grid-template-areas:
        "userinfo"
        "chart"
        "lists";
    @media (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "userinfo userinfo"
            "chart lists";
    }
}

.userInfo {
    grid-area: userinfo;
    min-height: 7vh;
}

.chart {
    grid-area: chart;
    height: 25vh;
}

.lists {
    grid-area: lists;
    height: 55vh;
}

.month {
    writing-mode: vertical-lr;
}

::-webkit-scrollbar {
    display: none;
}
